* {
    box-sizing: border-box;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
[class*="col-"] {
    float: left;
    padding: 15px;
}

body {
	background-color: lightgrey;
}

.header {
	text-align:center;
    font-family: "Snell Roundhand";
    font-size: 3vmax;
}

.gallery {
    font-family: "Snell Roundhand";
    font-size: 2.5vmax;
}

button {
    background-color: white;
    border: outset lightgrey 0.2vmax;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5vmax;
    display: flex;
}

button:hover {
    background-color: white;
    color:grey;
    border:inset white 0.2vmax;
}

.imgisthere {
    display: none;
}

.imgisnotthere {
	font-size: 1.5vmax;
}

.footer {
    margin-top: 50vmax;
    font-family: "Snell Roundhand";
    color:white;
    background-color: black;
    font-size: 1.5vmax;
    padding-bottom: 5vmax;
    padding-top: 5vmax;
    text-align: center;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


@media screen and (max-width: 600px) {
	[class*="col-"] {
    width:100%; }
	button {
		height:5vh;
	}
}