.header {
    font-size: 4vmax;
    font-family: "Snell Roundhand";
}

.gallery {
    font-size: 5vmax;
    font-family: "Snell Roundhand";
}

button {
    margin-left: 80vmax;
    background-color: white;
    border: outset lightgrey 0.2vmax;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5vmax;
    display: flex;
}

button:hover {
    background-color: white;
    color:grey;
    border:inset white 0.2vmax;
}

.imgisthere {
    display: none;
}

.footer {
    margin-top: 50vmax;
    font-family: "Snell Roundhand";
    color:white;
    background-color: black;
    font-size: 1.5vmax;
    padding-bottom: 5vmax;
    padding-top: 5vmax;
    text-align: center;
}

