* {
    box-sizing: border-box;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
[class*="col-"] {
    float: left;
    padding: 15px;
}

img {
    border: solid grey;
    margin-left: 0.2%;
    display: inline-block;
    width: 33%;

}

body {
    background-color: lightgrey;
}

html {
    font-family: "Lucida Sans", sans-serif;
}

.comment {
    display: inline-block;
    margin-right: 3vmax;
}

.header {
    font-family: "Snell Roundhand";
    color: black;
    font-size: 3.5vmax;
}
.menu {
    background-color: black;
}

.inv {
    background-color: #ad6303;
}

.gallery {
    font-family: "Snell Roundhand";
    font-size: 3.5vmax;
    display: block;
    margin-bottom: 10vmax;
}


.imgisnotthere {
    display: none;
}

button {
    background-color: white;
    border: outset lightgrey 0.2vmax;
    color: black;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 1.5vmax;
    margin-right: 10vmax;
}

button:hover {
    background-color: white;
    color:grey;
    border:inset white 0.2vmax;
}

.log {

    color: #ffffff;
    text-align: center;
    font-size: 1vw;
    font-family: "Lucida Sans", sans-serif;
}

.rightcontent {
    background-color: blue;
    padding: 10%;
    padding-bottom: 20%;
    color: #ffffff;
    text-align: center;
    font-size: 1vw;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.menu li {
    padding: 8px;
    margin-bottom: 7px;
    background-color: darkred;
    color: #ffffff;
}
.menu li:hover {
    background-color: red;
}

.aside {
    background-color: darkred;
    color: #ffffff;
    text-align: center;
    font-size: 14px;
}
.footer {
    background-color: black;
    color: #ffffff;
    text-align: center;
    font-size: 1.5vmax;
    font-family: "Snell Roundhand";
    padding: 2%;
    margin-top: 50%;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

